doctype 5
html
  head
    title submit
  body
  h1  Welcome
  hr
      form(id='submit-form', method='POST', action='/submit')
       | Enter your name
                div
                    input(type='text', name='username',placeholder='username')
                    input(type='text', age='age',placeholder='age')